:root{
    --vd-green-color: #009640;
    --vd-green-passive-color: #00572b;
    --vd-green-light-color: #00c238;
    --vd-green-button-color: #9ec84f;
    --vd-green-dark-color: #006e2f;
    --light-grey-color: #f6f5f1;
    --dark-gray: #d0d0d0;

    --brand-primary-color: var(--vd-green-color);
    --brand-primary-passive-color: var(--vd-green-passive-color);
    --brand-primary-lighter-color: --vd-green-light-color;

    --login-bg-color: rgba(0, 151, 64, 0.84);

    --toolbar-public-bg-color: var(--vd-green-color);

    --nav-bg-color: var(--vd-green-color);
    --nav-item-border-color: var(--vd-green-color);
    --nav-item-hovered-bg-color: var(--brand-primary-passive-color);
    --nav-item-selected-bg-color: var(--vd-green-passive-color);

    --progress-bar-bg-color: transparent;
    --progress-bar-step-font-color: var(--dark-gray);
    --progress-bar-step-completed-font-color: var(--brand-primary-color);
    --progress-bar-step-active-font-color: var(--brand-primary-color);

    --input-border-width: 1px;
    --attr-min-height: 36px;

    --option-button-selected-bg-color: var(--vd-green-color);
    --option-button-border-color: var(--vd-green-color);
    --option-button-focused-border-color: var(--vd-green-color);
    --option-button-selected-border-color: var(--vd-green-color);
    --option-button-font-color: var(--vd-green-color);

}