@import url(https://fonts.googleapis.com/css?family=Heebo:300,400,800&display=swap);
:root {
  --dark-bg-color: #1e292c;
  --dark-font-color: #e0e6e9;
  --purple-dark-color: #353a50;
  --light-blue-color: #00ffff;
  --main-grey-color: #e0e6e9;
  --brand-primary-color: var(--dark-bg-color);
  --primary-font-color: var(--main-grey-color);
  --reverse-color: var(--dark-bg-color);
  --toolbar-public-bg-color: var(--dark-bg-color);
  --nav-bg-color: var(--dark-bg-color);
  --message-default-bg-color: transparent;
  --message-link-color: var(--light-blue-color);
  --input-border-width: 1px;
  --input-bg-color: white;
  --input-border-color: white;
  --label-font-size: 3rem;
  --label-font-weight: 600;
  --option-button-border-color: var(--purple-dark-color);
  --option-button-selected-bg-color: var(--light-blue-color);
  --option-button-selected-font-color: var(--dark-bg-color);
  --button-bg-color: var(--light-blue-color);
  --button-font-color: var(--dark-bg-color);
  --button-border-width: 1px;
  --button-border-color: var(--light-blue-color);
  --percentage-wheel-outer-border-color: var(--main-grey-color);
  --percentage-wheel-outer-bg-color: var(--light-blue-color);
  --percentage-wheel-font-color: var(--light-blue-color);
  --panel-header-font-color: var(--dark-bg-color);
  --panel-header-bg-color: var(--main-grey-color);
}

body {
  font-family: Heebo, sans-serif, Verdana;
}

i.sk-back-top {
  color: var(--light-blue-color);
}

.sk-nav .sk-nav-logo {
  width: 100%;
}

.sk-nav .sk-nav-logo img {
  width: 100%;
}

.sk-nav .sk-nav-zones[data-zones-count="1"] {
  display: none;
}

.sk-nav .sk-nav-mobile-menu {
  display: none;
}

.sk-progress-bar {
  display: none !important;
}

.sk-attr .sk-label label {
  line-height: 3rem;
  text-transform: uppercase;
}

.sk-attr .sk-error-validation > div {
  color: #eb5865;
}

.sk-attr .sk-field .sk-input {
  color: var(--dark-bg-color);
  border-radius: 3px;
  padding: 2px 10px;
}

.sk-attr .sk-field .sk-input-icon {
  top: 7px;
  left: 5px;
  color: var(--dark-bg-color);
}

.sk-attr.sk-message .sk-message-content a {
  text-decoration: underline;
}

.ui-datepicker-calendar {
  --primary-font-color: var(--dark-bg-color);
}

.sk--resp .sk-attr .sk-option-list .sk-option-item {
  width: auto !important;
  min-width: 0;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input + label {
  width: 100px !important;
  min-height: 94px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0 !important;
  margin-right: 10px;
  background-color: var(--purple-dark-color);
  border-radius: 5px;
  max-width: 160px;
  padding: 5px !important;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input + label:before {
  display: none;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input + label .sk-option-icon {
  font-size: 2.5rem;
  line-height: 3rem;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input + label > span {
  font-size: 1.3rem;
  text-align: center;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input + label > span img {
  height: 30px;
  display: block;
  margin: 0 auto 10px auto;
}

.sk--resp .sk-attr .sk-option-list .sk-option-item input:checked + label {
  background-color: var(--light-blue-color);
  color: var(--dark-bg-color);
}

.sk-button {
  border-radius: 50px;
  padding: 18px;
  text-transform: uppercase;
}

.sk-button.sk-button--back {
  background-color: var(--dark-bg-color);
}

.sk-button.sk-button--back span {
  color: var(--light-blue-color);
}

#sk-IndividualCyber-Messages-assessmentMessage h3 {
  color: var(--light-blue-color);
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  #sk-IndividualCyber-Messages-assessmentMessage h3 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (max-width: 369px) {
  #sk-IndividualCyber-Messages-assessmentMessage h3 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

#sk-IndividualCyber-Product-question5.sk-attr .sk-option-list .sk-option-item input + label:before {
  display: none;
}

#sk-IndividualCyber-Product-question5.sk-attr .sk-option-list .sk-option-item input + label span {
  font-size: 2.3rem;
  text-align: center;
}

#sk-IndividualCyber-Messages-riskMeterMessage h4,
#sk-IndividualCyber-Messages-riskMeterMessage h3 {
  color: var(--light-blue-color);
  text-align: center;
}

#sk-IndividualCyber-Messages-riskMeterMessage .progress-radial {
  float: none;
  margin: 20px auto;
}

#sk-IndividualCyber-Product-planTable .sk-label label {
  color: var(--light-blue-color);
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
  text-transform: uppercase;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul {
  border: 0;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li {
  border: 0;
  text-align: center;
  color: #92969a;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li:nth-child(2n) {
  background-color: #272f36;
  border-radius: 5px;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li i.fa-times-circle {
  color: #b94a48;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li i.fa-check-circle {
  color: green;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li b {
  display: block;
  padding-top: 5px;
  color: white;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li b span {
  font-size: 1.2rem;
  font-weight: 200;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li .sk-attr .sk-option-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li .sk-attr .sk-option-list .sk-option-item {
  margin-right: 0;
}

#sk-IndividualCyber-Product-planTable .sk-table-table > ul > li .sk-attr .sk-option-list label {
  margin-right: 0;
}

#sk-IndividualCyber-Messages-riskMeterMessagePlanSelectionMessage .sk-message-content .progress-radial {
  float: none;
  margin: 20px auto;
}

#IndividualCyberCreateQuoteProcessPersonalDataUIDefinition .sk-label label {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: none;
}

#sk-IndividualCyber-Messages-paymentMessage {
  text-align: center;
}

#sk-IndividualCyber-Messages-paymentMessage div {
  padding: 20px 0;
}

#sk-IndividualCyber-Messages-paymentMessage h3 {
  color: var(--light-blue-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-transform: uppercase;
  padding-bottom: 30px;
}

#sk-IndividualCyber-Messages-paymentMessage h4 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 100;
  color: white;
}

#sk-IndividualCyber-Messages-paymentMessage h5 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

#sk-IndividualCyber-Messages-policyIssuedMessage,
#sk-IndividualCyber-Messages-assessmentCompletedMessage {
  text-align: center;
}

#sk-IndividualCyber-Messages-policyIssuedMessage h3,
#sk-IndividualCyber-Messages-assessmentCompletedMessage h3 {
  color: var(--light-blue-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media (max-width: 480px) {
  #sk-IndividualCyber-Messages-policyIssuedMessage h3,
  #sk-IndividualCyber-Messages-assessmentCompletedMessage h3 {
    font-size: 4.5rem;
  }
}

#sk-IndividualCyber-Messages-policyIssuedMessage i,
#sk-IndividualCyber-Messages-assessmentCompletedMessage i {
  color: green;
  font-size: 6rem;
}

#sk-IndividualCyber-Messages-policyIssuedMessage h4,
#sk-IndividualCyber-Messages-assessmentCompletedMessage h4 {
  font-weight: 200;
  margin: 20px;
}

#sk-IndividualCyber-Messages-downloadQuoteButtonMessage {
  text-align: center;
}

#sk-IndividualCyber-Messages-downloadQuoteButtonMessage button a {
  color: var(--dark-bg-color);
  text-decoration: none;
}

#sk-IndividualCyber-Messages-summaryMessage {
  text-align: center;
}

#sk-IndividualCyber-Messages-summaryMessage hr {
  border: 1px solid #eee;
  border-bottom: 0;
  width: 80%;
  margin-bottom: 40px;
}

#sk-IndividualCyber-Messages-summaryMessage .sk-message-content div {
  padding: 15px 0;
}

#sk-IndividualCyber-Messages-summaryMessage h3 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 100;
  color: white;
}

#sk-IndividualCyber-Messages-summaryMessage h4 {
  text-transform: uppercase;
}

#sk-Shoppingcart-cyberGenericHiddenPayment {
  min-width: 400px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  #sk-Shoppingcart-cyberGenericHiddenPayment {
    min-width: unset !important;
    padding: 0;
  }
}

#sk-Shoppingcart-cyberGenericHiddenPayment > .sk-fieldset {
  padding: 0;
}

#sk-Shoppingcart-cyberGenericHiddenPayment .sk-label label {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: none;
}

#sk-Shoppingcart-cyberGenericHiddenPayment #sk-payment-amount-wp {
  display: none;
}

.progress-radial {
  border: none !important;
}

.visa.sk-selected,
.mastercard.sk-selected {
  border: 1px solid var(--light-blue-color) !important;
  border-radius: 5px !important;
  margin-right: 5px;
}

.visa.sk-selected img,
.mastercard.sk-selected img {
  border: none !important;
  padding-top: 3.5px;
}

@media (max-width: 700px) {
  ul.sk-nav-zones {
    top: 100px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
    margin-right: 3%;
  }
}

.sk-datatable-records {
  display: none !important;
}

.ReactTable .pagination-bottom {
  display: none;
}

.overlay {
  margin-left: 21.5px !important;
  margin-top: 21.5px !important;
}

#sk-IndividualCyber-Messages-showInfo.sk-attr {
  padding-bottom: unset !important;
}

#sk-IndividualCyber-Messages-showInfo.sk-attr .sk-field {
  color: var(--dark-bg-color);
  padding-bottom: unset;
}

#sk-IndividualCyber-Messages-showInfo .sk-option-list .sk-option-item {
  width: 100% !important;
}

#sk-IndividualCyber-Messages-showInfo .sk-option-list .sk-option-item input + label {
  width: 100% !important;
  max-width: unset !important;
  min-height: 55px;
  background-color: var(--main-grey-color) !important;
}

#sk-IndividualCyber-Messages-showInfo .sk-option-list .sk-option-item input + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sk-IndividualCyber-Messages-showInfo .sk-option-list .sk-option-item input + label > span i {
  font-size: 28px;
  margin-left: -90px;
}

#sk-IndividualCyber-Messages-showInfo .sk-option-list .sk-option-item input + label > span > span {
  color: var(--dark-bg-color);
  font-size: 1.7rem;
  font-weight: 400;
  padding-left: 10px;
}

#sk-IndividualCyber-Messages-benefitsInfoMessage a {
  color: var(--purple-dark-color);
  font-weight: bold;
}

#sk-IndividualCyber-Messages-benefitsInfoMessage p {
  padding-bottom: 10px;
}

#sk-IndividualCyber-Messages-benefitsInfoMessage .sk-attr {
  padding-top: unset;
}

#sk-IndividualCyber-Messages-benefitsInfoMessage .sk-message-content {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  background-color: var(--main-grey-color);
  color: var(--dark-bg-color);
  border-radius: 0 0 5px 5px;
}

#IndividualCyber-Product-ProductSelectorComponent a {
  color: var(--primary-font-color);
}

#sk-process-IndividualCyberCreateQuoteProcess .sk-process .sk-core {
  padding-top: none;
}

#sk-process-IndividualCyberCreateQuoteProcess #sk-IndividualCyber-Messages-dashboardMessage {
  font-size: 2rem;
  line-height: 2rem;
}

#sk-process-IndividualCyberCreateQuoteProcess #sk-IndividualCyber-Messages-dashboardMessage h2 {
  color: var(--light-blue-color);
}

#sk-IndividualCyber-Messages-enterIvoltMessage .sk-message-content {
  width: 120%;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: var(--light-blue-color) !important;
  text-transform: uppercase;
}

@media (max-width: 369px) {
  #sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage.sk-attr,
  #sk-IndividualCyber-Dashboard-otherProductSelectorMessage.sk-attr {
    padding: 10px;
  }
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a:first-of-type,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a:first-of-type,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a:first-of-type,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a:first-of-type {
  margin-right: 10px;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-font-color);
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 30px 10px 40px 10px;
  background-color: var(--purple-dark-color);
  border-radius: 5px;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a i,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a i,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a i,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a i {
  position: absolute;
  top: 10px;
  left: 105px;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a .fas,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a .fas,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a .fas,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a .fas {
  color: var(--light-blue-color);
  font-weight: 600;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a .far,
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a .far,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a .far,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a .far {
  color: var(--light-blue-color);
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector a span:nth-of-type(2),
#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .secondary-selector a span:nth-of-type(2),
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector a span:nth-of-type(2),
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a span:nth-of-type(2) {
  position: absolute;
  top: 80px;
  left: 9px;
  color: var(--light-blue-color);
  font-weight: 100;
}

#sk-IndividualCyber-Dashboard-cyberAssessmentSelectorMessage .primary-selector div,
#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .primary-selector div {
  width: 80%;
}

#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a {
  margin-right: 10px !important;
}

#sk-IndividualCyber-Dashboard-otherProductSelectorMessage .secondary-selector a i {
  left: 57px !important;
}

.sk-autosearch {
  background-color: var(--main-grey-color);
  color: var(--purple-dark-color);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
}

.sk-comp-title,
.react-tabs > ul > li.react-tabs__tab--selected {
  background-color: var(--main-grey-color);
  color: var(--purple-dark-color) !important;
}

.header.clearfix {
  display: none !important;
}

#sk-panel-content-IndividualCyberCreateQuoteProcessDashboardUIDefinition-FieldsetGroup-Fieldset1-PanelGroup1-AutoSearch.sk-uigroup-content,
#sk-panel-content-IndividualCyberCreateQuoteProcessDashboardUIDefinition-FieldsetGroup-Fieldset1-PanelGroup1-Wallet.sk-uigroup-content {
  margin: 0 auto;
  padding-top: 0;
}

#sk-panel-content-IndividualCyberCreateQuoteProcessDashboardUIDefinition-FieldsetGroup-Fieldset1-PanelGroup1-AutoSearch .skeleton,
#sk-panel-content-IndividualCyberCreateQuoteProcessDashboardUIDefinition-FieldsetGroup-Fieldset1-PanelGroup1-Wallet .skeleton {
  display: none;
}

#sk-panel-item-IndividualCyberCreateQuoteProcessDashboardUIDefinition-FieldsetGroup-Fieldset1-PanelGroup1-Wallet {
  display: none;
  /* &.sk-panel--expanded>.sk-uigroup-header,
  .sk-panel .sk-panel-header {
  background-color: var(--main-grey-color);
  border-radius: 5px 5px 0 0;
}

.sk-panel-header {
  border: none;
} */
}

.sk-panel .sk-panel-item > .sk-uigroup-header {
  background-color: var(--main-grey-color);
  border-radius: 5px;
  padding-bottom: 10px;
}

.sk-panel .sk-panel-item > .sk-uigroup-header:before {
  padding-bottom: 10px;
  padding-left: 7px;
}

.sk-panel .sk-panel-header {
  border: none;
}

#IndividualCyber-Product-AutoSearchComponent .sk-comp-title,
#IndividualCyber-Product-AutoSearchComponent .sk-columns-selector {
  display: none;
}

.sk-process .sk-core {
  padding-top: 0 !important;
}
/*# sourceMappingURL=volt.css.map */